*.o
*.a
*.obj
*.exe
.deps
aclocal.m4
autom4te.cache
Makefile
Makefile.in
/dgen
/dgen_tobin
/configure
/config.log
/config.status
/config.guess
/config.sub
/install-sh
/missing
/depcomp
/INSTALL
/musa/m68kmake
/musa/m68kops.c
/musa/m68kops.h
/mz80/makez80
/mz80/mz80.c
/mz80/x86-mz80.asm
/sdl/pbm2df
/sdl/dgenfont*.cpp
/star/star
/star/starcpu.asm
/cyclone/Cyclone.s
